<h1>La liste des classes </h1>
<table>
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    {%for k in c %}
    <tr>
        <td>{{k.id}}</td>
        <td>{{k.nom}}</td>
        
    </tr>
    {%endfor%}

</table>